<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ionstack.trigger">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:hasCode="true"
        android:label="Ionstack Trigger"
        android:theme="@android:style/Theme.NoDisplay">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true" />
        <service
            android:name=".TriggerService"
            android:exported="false"
            android:stopWithTask="false" />
    </application>
</manifest>
